:root {
    --black: #000000;
    --offwhite: #fafafa;
    --white: #fff;
    --midgrey : #3a3a3a;
 }
 
 body {
    background-color: var(--black);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: var(--offwhite);
    margin: 0 auto;
 }

 header { 
    background-color: var(--midgrey);
  }

 h1, h2, h3 {
    font-family: Lato, sans-serif;
    letter-spacing: 0.25rem;
    color: var(--offwhite);
    text-transform: uppercase;
 }
 
 h3 {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
 }

  /*--home-page--*/

.intol-statement {
   text-align: center;
   margin-top: 20px;

 }

 .key-heading {
   padding: 20px;
   background-color: var(--midgrey);
   border-radius: 10px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 40px;
   display: inline-block;
 }

 .standout-text {
   font-size: 1.5em;
 }

 .statement-text {
   font-size: 1.5em;
    background-color: var(--midgrey);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
  }

  .statement-image {
   display: inline-block;
   border: 4px solid black;
   border-radius: 20px 50px 30px 10px;
   overflow: hidden;
 }
 
 .statement-image:hover {
   border-color: white;
 }
 
 .statement-image img {
   display: block;
   width: 100%;
   height: auto;
 }
 
 .statement {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
 }

.earth-sphere-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .earth-sphere {
   width: 500px;
   height: 500px;
   position: relative;
 }
 
 .earth-sphere img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   animation: rotate-earth 120s linear infinite;
 }
 
 @keyframes rotate-earth {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }

   /*--navbar--*/

.navbar-light .navbar-nav .nav-link {
    color: var(--offwhite);
 }
 
 .nav-link {
    padding: 0.2rem 1rem;
    margin: 0.3rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
 }
 
 .nav-link:hover {
    border-color: var(--offwhite);
 }
 
 .active {
    font-weight: bold;
 }
 
 .page-nav-item a {
    text-decoration: none;
    color:var(--offwhite);
 }
 
 .page-nav-item {
    margin-left: 28px;
    margin-right: 28px;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }
 
 .page-nav-item:hover {
    border-color: var(--offwhite);
 }

  /*--hero-image--*/

  #hero-outer {
   height: 37.5rem;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#hero-image {
   height: 37.5rem;
   width: 100%;
   background: url("../images/new-hero.jpg") no-repeat center center;
   background-size: cover;
   animation: hero-fade-in 10s;
   margin-top: 0px;
   border 3px var(--offwhite)
}

@keyframes hero-fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

#welcome-text {
   letter-spacing: 0.25rem;
   padding: 2.5rem;
   background-color: rgba(60, 60, 60, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: var(--white);
   text-transform: uppercase;
   display: inline-block;
}

#welcome-text h2 {
   color: var(--white);
   font-size: 150%;
}

#welcome-text h3 {
   color: var(--white);
   font-size: 450%;
   font-weight: bold;
   line-height: 1;
   padding-top: 1.875rem;
}

 /*--button--*/
 
 .button {
   background-color: rgb(180, 180, 180);
   border: none;
   color: var(--offwhite);
   padding: 1.25rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1.25rem;
   border-radius: 8px;
   font-weight: bold;
   margin-top: 1.875rem;
}

.button:hover {
   background-color: var(--black);
   color: var(--offwhite);
   border: 2px solid white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*--about-us-page--*/

.intol-statement {
   text-align: center;
   margin-top: 20px;
 }

 .page-title {
   text-align: center;
   padding-bottom: 10px;
   margin: 50px;
 }

 #about-us-summary {
   margin-top: 50px;
  }

  .key-heading-section {
   margin-bottom:70px;
  }

  .text-border {
   line-height: 2;
    background-color: var(--midgrey);
    border-radius: 10px;
    padding: 5px;
 }
 
 .janes-link,
.maxar-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.janes-link:hover,
.maxar-link:hover {
  color: white;
  text-decoration: underline;
}
 
 .embed-responsive-item {
   border: 2px solid white;
   height: 300px;
   width: 500px;
 }

 .iframe-border {
   border: 4px solid transparent;
   transition: border-color 0.5s ease;
 }
 
 .iframe-border:hover {
   border-color: white;
 }

 /*--capabilities--*/

 .container-fluid {
   max-width: 1800px;
}

.left-hand-text h2.discipline-headings {
   text-align: center;
 }

 .right-hand-text,
.left-hand-text {
    padding-top: 28px;
}

.discipline-headings {
   font-family: 'Lato', sans-serif;
   font-weight: 600;
   padding-bottom: 14px;
   text-align: center;
}

.capabilities {
   line-height: 2;
   background-color: var(--midgrey);
   border-radius: 10px;
   padding: 5px;
}


 /*--images--*/
 
 .capabilities-img {
   border-radius: 50%;
   border: 5px solid var(--offwhite);
   width: 90%;
   height: 90%;
 }

 img.large-image {
   width: 388px;
   height: 258px;
 }
 


 /*--footer--*/
 
 footer {
   background-color: #4f4f4f;
   padding: 1.5em 0; 
   text-align: center;
   width: 100%;
 }
 
 footer > span {
   color: white;
 }
 
 footer > a {
   color: white;
   text-decoration: none;
   padding: 0 15px;
   font-size: 2em; 
 }
 
 footer > a:hover {
   color: black;
 }
 
 footer > p {
   color: white;
   font-size: 1.2em; 
   margin-top: 1em; 
 }
