:root {
    --black: #000000;
    --offwhite: #fafafa;
    --white: #fff;
    --midgrey : #3a3a3a;
 }
 
 body {
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--offwhite);
    margin: 0 auto;
 }

 header { 
    background-color: var(--midgrey);
  }

 h1, h2, h3, h4, h5 {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.25rem;
    color: var(--offwhite);
    text-transform: uppercase;
 }
 
 h3 {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
 }

 section {
   margin-bottom:20px;
 }

  /*--home-page--*/

 .key-heading {
   padding: 20px 5px 20px 5px;
   background-color: var(--midgrey);
   border-radius: 10px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 40px;
   display: inline-block;
 }

 .standout-text {
   font-size: 1.5em;
   padding: 5px;
 }

 .statement-text {
   font-size: 1.5em;
    background-color: var(--midgrey);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
    padding: 30px 0;
    
  }

  .statement-image {
   display: inline-block;
   border: 4px solid black;
   border-radius: 20px 50px 30px 10px;
   overflow: hidden;
 }
 
 .statement-image img {
   display: block;
   width: 100%;
   height: auto;
 }
 
 .statement {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
 }

.earth-sphere-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .earth-sphere {
   width: 500px;
   height: 500px;
   position: relative;
   overflow: hidden;
 }
 
 .earth-sphere img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   animation: rotate-earth 120s linear infinite;
 }
 
 @keyframes rotate-earth {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }

   /*--navbar--*/

.navbar-light .navbar-nav .nav-link {
    color: var(--offwhite);
 }
 
 .nav-link {
    padding: 0.2rem 1rem;
    margin: 0.3rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    display: inline-block;
 }
 
 .nav-link:hover {
    border-color: var(--offwhite);
    display: inline-block;
 }
 
 .active {
    font-weight: bold;
 }
 
 .page-nav-item a {
    text-decoration: none;
    color:var(--offwhite);
 }
 
 .page-nav-item {
    margin-left: 28px;
    margin-right: 28px;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }
 
 .page-nav-item:hover {
    border-color: var(--offwhite);
 }

  /*--hero-image--*/

  #hero-outer {
   height: 37.5rem;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#hero-image {
   height: 37.5rem;
   width: 100%;
   background: url("../images/new-hero.jpg") no-repeat center center;
   background-size: cover;
   animation: hero-fade-in 10s;
   margin-top: 0px;
}

@keyframes hero-fade-in {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

#welcome-text {
   letter-spacing: 0.25rem;
   padding: 2.5rem;
   background-color: rgba(60, 60, 60, 0.5);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: var(--white);
   text-transform: uppercase;
   display: inline-block;
}

#welcome-text h2 {
   color: var(--white);
   font-size: 150%;
}

#welcome-text h3 {
   color: var(--white);
   font-size: 450%;
   font-weight: bold;
   line-height: 1;
   padding-top: 1.875rem;
}

 /*--button--*/
 
 .button {
   background-color: var(--black);
   border: 2px solid var(--offwhite);
   color: var(--offwhite);
   padding: 1.25rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1.25rem;
   border-radius: 8px;
   font-weight: bold;
   margin-top: 1.875rem;
}

.button:hover {
   background-color: var(--offwhite);
   color: var(--black);
   border: 4px solid var(--white);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*--about-us-page--*/

.page-heading {
   text-align: center;
   margin-top: 20px;
 }

 .page-title {
   text-align: center;
   padding-bottom: 10px;
   margin: 30px;
   padding: 5px;
 }

 #about-us-summary {
   margin-top: 50px;
  }

  .key-heading-section {
   margin-bottom:70px;
  }

  .text-border {
   line-height: 2;
    background-color: var(--midgrey);
    border-radius: 10px;
 }
 
 .janes-link,
.maxar-link {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

.janes-link:hover,
.maxar-link:hover {
  color: var(--white);
  text-decoration: underline;
}

.embed-responsive-item {
  border: 2px solid var(--white);
  max-width: 100%;
}

 .iframe-border {
   border: 4px solid transparent;
   transition: border-color 0.5s ease;
 }
 
 .iframe-border:hover {
   border-color: var(--white);
 }

 /*--capabilities--*/

 .container-fluid {
   max-width: 1800px;
}

.left-hand-text h2.discipline-headings {
   text-align: center;
 }

 .right-hand-text,
.left-hand-text {
    padding-top: 140px;
}

.discipline-headings {
   font-family: 'Lato', sans-serif;
   font-weight: 600;
   padding-bottom: 14px;
   text-align: center;
}

.capabilities {
   line-height: 2;
   background-color: var(--midgrey);
   border-radius: 10px;
   padding: 10px;

}

#future-capabilities {
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .future-capability-subheading {
  padding-bottom: 20px;
  margin-top: 20px;
 }

 /*--images--*/
 
 .capabilities-img {
   border-radius: 50%;
   border: 5px solid var(--offwhite);
   width: 100%;
   height: auto;
 }

 img.large-image {
  width: 308px;
  height: 308px;
}

 /*--subscribe--*/
 
 .subscribe-background {
  background-image: url("../images/aerial.jpeg");
  background-size: cover;
}

 .form-section {
  clear: both;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.signup-form {
  margin-top: 50px;
  color: var(--white);
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 500px;
  position: absolute;
  left: 10%;
  padding: 30px;
  border-radius: 10px;
}

.signup-form > h2 {
  color: var(--offwhite);
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: var(--offwhite);
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid var(--offwhite);
  border-radius: 2px;
}

.text-input:hover {
  border-color: var(--black);
}

.subscribe-button {
  background-color: var(--black);
  border: none;
  color: var(--offwhite);
  border: 2px solid var(--white);
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1.875rem;
}

.subscribe-button:hover {
  background-color: var(--offwhite);
  color: var(--black)
 }

.comments-section {
  margin-top: 30px;
}

.comments-input {
  background: transparent;
  color: var(--offwhite);
  width: 100%;
  height: 150px;
  margin: 5px 0 20px 0;
  border: 1px solid var(--offwhite);
  border-radius: 2px;
}

.comments-input:hover {
  border-color: var(--black);
}

.int-preference-section {
  text-align: center;
  margin-top: 50px;
}

.int-preference-section label {
  display: block;
  margin-bottom: 10px;
}

.int-preference-section input {
  margin-right: 10px;
}

.int-preference-section label,
.int-preference-section input[type="checkbox"] {
 display: inline-block;
 
}

.form-section {
  float: left;
  width: 50%;
 }

::placeholder {
  font-weight: bold;
  color: var(--white);
}

.thankyou-container {
  text-align: center;
}
.thankyou-message {
  display: inline-block;
  text-align: center;
  background-color: var(--midgrey);
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
}


/*--opportunities--*/

.crowd-test {
  padding-left: 50px;
  padding-right:50px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
 
 .crowd-text {
   text-align: center;
   padding-top: 30px;
 }

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  left: 200px;

  
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
  
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width:300px;
  height:300px;
  
}

.img-zoom-text {
  padding-top: 30px;
}

.recruitment-text {
  background-color: var(--midgrey);
  border-radius: 10px;
  padding: 20px;
  line-height: 2;
  display: inline-block;
}

.recruitment-text p {
  margin-bottom: 10px;
  left:350px;
}

#message {
  text-align: center;
}

.imint-test-text {
  padding-bottom: 40px;
}

#map-container {
  position: relative;
  height: 400px;
  margin-bottom: 50px;
}

#gmp-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

 /*--footer--*/
 
 footer {
   background-color: var(--midgrey);
   padding: 1.5em 0; 
   text-align: center;
   width: 100%;
   bottom: 0;
 }
 
 footer > span {
   color: var(--white);
 }
 
 footer > a {
   color: var(--white);
   text-decoration: none;
   padding: 0 15px;
   font-size: 2em; 
 }
 
 footer > a:hover {
   color: var(--black);
 }
 
 footer > p {
   color: var(--white);
   font-size: 1.2em; 
   margin-top: 1em; 
 }

@media (max-width: 767px) {
  .signup-form {
    margin: 0;
    width: 100vw;
    left: 0;
    padding: 30px;
  }

 .embed-responsive-16by9 iframe {
   width: 100%;
   height: auto;
 }

 .form-section,
 .subscribe-text {
   float: none;
   width: 100%;
   position: static;
   left: auto;
   top: auto;
   transform: none;
 }

 .earth-sphere {
    width: 300px;
    height: 300px;
  }

 .crowd-test {
   width: 100%;
   padding-left: 0;
   padding-right: 0;
 }
}
 

 @media screen and (max-width: 1078px) {
  .embed-responsive-item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .hero-text h2 h3 {
    font-size: 32px;
}
}

@media only screen and (max-width: 1199px) {
  .img-zoom-container, .img-zoom-text {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .right-hand-text,
  .left-hand-text {
    padding-top: 14px;
  }
}

@media (min-width: 1200px) {
  .right-hand-text,
  .left-hand-text {
    padding-top: 140px;
  }
}

@media (max-width: 319px) {
  .row {
    width: 100%;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}