:root {
    --black: #000000;
    --offwhite: #fafafa;
    --white: #fff;
    --midgrey : #3a3a3a;
 }
 
 body {
    background-color: var(--black);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: var(--offwhite);
    margin: 0 auto;
 }

 header { 
    background-color: var(--midgrey);
  }

   /*--------------------------navbar------------------*/

.navbar-light .navbar-nav .nav-link {
    color: var(--offwhite);
 }
 
 .nav-link {
    padding: 0.2rem 1rem;
    margin: 0.3rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
 }
 
 .nav-link:hover {
    border-color: var(--offwhite);
 }
 
 .active {
    font-weight: bold;
 }
 
 .page-nav-item a {
    text-decoration: none;
    color:var(--offwhite);
 }
 
 .page-nav-item {
    margin-left: 28px;
    margin-right: 28px;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }
 
 .page-nav-item:hover {
    border-color: var(--offwhite);
 }